*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  
}
body {
  overflow-x: hidden; 
}

/* Nav Base style for all screen sizes */

nav {
  display: flex;
  flex-flow: row wrap;
  background-color: #9e7c63;
  color: #fff;
  padding: 15px 20px;
  justify-content: space-between;
  width: 100%;
  overflow:hidden;
}

 .navs {
display: flex;
align-items: center;
gap: 3.5rem;
flex-direction: column;
} 


nav .name {
  display: flex;
}

nav img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-top: 0.8em;
  margin-right: 1rem;
  
}


nav>ul li {
  list-style: none;
  text-decoration: none;
  font-weight: 600;
  padding: 1em;
}
nav .name>h1 {
  font-size: 35px;
  font-family: cursive;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 10px;
}

nav ul li>a {
  text-decoration: none;
  color: #fff;
  display: block;
  
}
/* Nav styles for medium and larger */
@media (min-width: 678px){
   
  .navs {
    flex-direction: row;
    padding: 2em 4em;
   
  }
  }
  /* Styles for large screens */
@media (min-width: 1024px) {
  .navs a {
    display: flex;
    align-items: center;
  }

}
nav li:hover {
  border-bottom: 1px solid #fff;
  color: #8d8984;
}

/* Nav styling ends */

/* About section Begins */
.home-container{
  background-image: url('images/background1.jpg');
  width: 100%;
  height: 100vh;
  background-position: center ;
  background-size: cover;
}
.textContainer{
  padding-top: 150px;
  padding-left:60px;
  width: 100%;
  max-width: 90%;
  

}
.textContainer h3{
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  letter-spacing: 4px;
  line-height: 1.5;
  font-weight: 800;

}
.textContainer p {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  font-family: 'Roboto', sans-serif;
   background-color: grey; 
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
span.decor{
  color:#333;
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
  font-weight: 700;
}
.cta {
  display: flex;
  align-items: center;  
  justify-content: center;  
  background-color: #9e7c63;
  color: white;
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s;
  margin-top: 15px;
  font-size: 15px;
 
}
.cta:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0.15);
  background-color: #8d8984;
}

.cta i {
  margin-left: 8px; 
  font-size: 15px 
}

/*About Section Styles for medium screens and larger */
@media (min-width: 768px) {
  .textContainer {
    padding: 40px;
    width: 60%;
    
  }

  .textContainer h3 {
    font-size: 32px;
  }

  .textContainer p {
    font-size: 20px;
    
  }
}

/* Styles for large screens */
@media (min-width: 1024px) {
  .textContainer {
    padding: 60px;
    width: 50%;
    
  }

  .textContainer h3 {
    font-size: 36px;
  }

  .textContainer p {
    font-size: 22px;
  }
}

/* Base style for product section */
.heading{
  font-size: 32px;
  color: #686664;
  font-weight: 900;
  text-align: center;
  margin-top: 25px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  width: 100%;
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  color: #9e7c63;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:  auto;
  width: 100%;
  max-width: 300px;
  height: fit-content;
  padding: 2em 1em;
  border-radius: 10% 2%;
  border: 2px solid #eee;
  transition: transform 0.3s ease-in-out;
  
}

.card-container:hover {
  transform: scale(1.05);
  
}

.card-img {
  width: 100%;
  max-width: 12rem;
  margin: auto;
}

.card-container>h3 {
  font-size: 27px;
  font-weight: 600;

}
.card-img img {
  width: 100%;
  border-radius: 5px;

}
/* Responsiveness for product section */
@media (min-width: 768px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For large screens (desktops) */
@media (min-width: 1024px) {
  .cards-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-container button {
  background-color: #fff;
  color: #9e7c63;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 10px #3d3d3d;
  
}

.card-container button:hover {
  background-color: #686664;
  color:#eee;
}



/* Contact section */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 15px;
 
 
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 6px; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical;
}
input[type=email], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 6px; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical;
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #9e7c63;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #877467;;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:600px;
  align-items: center;
  
} 
footer {
  font-size: 0.95rem;
  background-color: #9e7c63;
  color: beige;
  padding: 2rem 0;
}
.name img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  
}

.footerflex {
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.footerText {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

footer h2 {
  color: #fff;
  padding-bottom: .7rem;
  font-size: 1.25rem;
  font-weight: 600;
}

footer a {
  text-decoration: none;
  color: #fff;
}


#last {
  border-top: 1px solid #777;
  text-align: center;
  font-size: 1.3rem;
  padding-top: 1rem;
  color: #fff;
}

@media (max-width:700px) {
  .footerflex {
    display: block;
    padding: 2em;
    margin: 2em;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 15px;
    
   
   
  }
}
